<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShellCoin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC4AABD91E4D69E1006568A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4AABF51E4D69E2006568A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4AAC001E4D69E2006568A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
